[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.2"
flask-cors = "==3.0.10"
flask-restful = "==0.3.9"
psycopg2-binary = "*"
face-recognition = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.18"
